<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quan_Ly_Thi.Properties.Settings.QuanLyThiTracNghiemDBConnectionString"
            connectionString="Data Source=DESKTOP-4RNGLB2\SQLEXPRESS;Initial Catalog=QuanLyThiTracNghiemDB;User ID=sa;Password=tuananh1"
            providerName="System.Data.SqlClient" />
        <add name="Quan_Ly_Thi.Properties.Settings.QuanLyThiTracNghiemDBConnectionString1"
            connectionString="Data Source=DESKTOP-Q4DBGD9\SQLEXPRESS;Initial Catalog=QuanLyThiTracNghiemDB;User ID=sa;Password=1908"
            providerName="System.Data.SqlClient" />
        <add name="Quan_Ly_Thi.Properties.Settings.QuanLyThiTracNghiemDBConnectionString2"
            connectionString="Data Source=DESKTOP-PD2UJ9U;Initial Catalog=QuanLyThiTracNghiemDB;Persist Security Info=True;User ID=sa;Password=Thedao032"
            providerName="System.Data.SqlClient" />
        <add name="Quan_Ly_Thi.Properties.Settings.QuanLyThiTracNghiemDBConnectionString4"
            connectionString="Data Source=DESKTOP-4RNGLB2\SQLEXPRESS;Initial Catalog=QuanLyThiTracNghiemDB;Persist Security Info=True;User ID=sa;Password=tuananh1"
            providerName="System.Data.SqlClient" />
        <add name="Quan_Ly_Thi.Properties.Settings.QuanLyThiTracNghiemDBConnectionString3"
            connectionString="Data Source=DESKTOP-PD2UJ9U;Initial Catalog=QuanLyThiTracNghiemDB;Persist Security Info=True;User ID=sa;Password=Thedao032"
            providerName="System.Data.SqlClient" />
        <add name="Quan_Ly_Thi.Properties.Settings.QuanLyThiTracNghiemDBConnectionString5"
            connectionString="Data Source=DESKTOP-HQM5AIL;Initial Catalog=QuanLyThiTracNghiemDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

